[Bb]in/
[Oo]bj/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.config
[Dd]ebug/
[Rr]elease*/
_ReSharper*/
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*
*.[Pp]ublish.xml
*.pfx
[Uu]pgrade[Ll]og.[Xx][Mm][Ll]
_[Uu]pgrade[Rr]eport_[Ff]iles/
